<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="{{ url_for('static' , filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="header">
	<div class="container header__inner">
		<a href="/" class="logo">Вези <span>Кайфуй</span></a>
		<nav>
			<ul class="nav">
				<li><a href="#bikes">Велосипеды</a></li>
				<li><a href="#how">Как это работает</a></li>
				<li><a href="#contacts">Контакты</a></li>
			</ul>
		</nav>

		<div class="auth-buttons">
			{% if current_user.is_authenticated %}
				<span class="auth-greeting">Привет, {{ current_user.name }}</span>
				{% if current_user.is_admin %}
					<a href="{{ url_for('admin_bikes') }}" class="btn btn--secondary">Админ-панель</a>
				{% endif %}
				<a href="{{ url_for('logout') }}" class="btn btn--secondary">Выйти</a>
			{% else %}
				<a href="{{ url_for('login') }}" class="btn btn--secondary">Войти</a>
				<a href="{{ url_for('register') }}" class="btn btn--primary">Регистрация</a>
			{% endif %}
		</div>
	</div>
</header>

    {% block body %}{% endblock %}
</body>
</html>